{
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft.AspNetCore": "Warning"
    }
  },
  "AllowedHosts": "*",
  "ConnectionStrings": {
    "DefaultConnection": "Server=<SERVER_IP>;Port=3306;Database=team_db;User=team_user;Password=strongpassword;"
  }
}
S